html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.landing {

  // background-image: url("../images/city.jpg");
  background-color: #ccc;
  height: 100vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
flex-direction: column;
text-align: center;

  .main-cta {
    font: 700 45px 'Oswald';
    color: blue;
    margin: 0;
    display: block;
  }
    .sub-cta {
  font: normal 15px 'pt mono';
      color: blue;
      margin: 0;
      padding:5px 0;
      display: block;
    }
}
.cta {
  padding-bottom: 25px;
}
.input-list {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

// .button {
//   background-color: blue;
//
//   color: white;
//   padding: 10px 80px;
//   font: normal 12px 'pt mono';
//   &:hover {
//     background-color: #333;
//   }
// }

.fa-search,
.fa-bars {
  color: #fff;
  cursor: pointer;
  width: 10%;
  text-align: center;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.heading {
  font: 700 20px 'Oswald';
}

.error {
  font: 700 20px 'Oswald';
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}

.box {
  width: 30%;
  background-color: #fff;
  margin: 12px 0;
  border: 1px solid #333;
  align-self: flex-start;

  img {
    width: 100%;
  }
}

.box-bottom {
  padding: 25px;
  font: normal 13px 'pt mono';
}

.box-map {
  height: 50px;
  background-color: blue;
  color: #fff;
  font: 700 15px 'Oswald';
  padding-left: 25px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #0044ff;
  }

  i {
    padding-right: 25px;
  }
}

.box-bottom-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.box-container {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.box-bottom-right i {
  color: #ccc;

  &:hover {
    color: blue;
  }
}

.box-bottom-right {
  text-align: right;
}

.box-bottom-right a {
  text-align: right;
  color: #ccc;

  &:hover {
    color: blue;
  }
}

.image {
  position: relative;
}

.text-overlay {
  color: black;
  padding-left: 10px;
}

.caption-box {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  font: 700 20px 'Oswald';
}

.caption-box-no-image {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  font: 700 20px 'Oswald';
}

.landing-header {
  display: block;
}

input {
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

input[type="text"] {
  margin: 0;
  font: 400 20px 'Oswald';
  appearance: none;
  box-shadow: none;
  border-radius: none;
  background-color: #fff;
  height: 50px;
  width: 40%;
}

 ::-webkit-input-placeholder {
  color: #999;
}

 :-moz-placeholder {
  color: #999;
}

 ::-moz-placeholder {
  color: #999;
}

 :-ms-input-placeholder {
  color: #999;
}

/* Different color for some fields */
.location::-webkit-input-placeholder,
.query::-webkit-input-placeholder {
  color: blue;
}

.location:-moz-placeholder,
.query:-moz-placeholder {
  color: blue;
}

.location::-moz-placeholder,
.query::-moz-placeholder {
  color: blue;
}

.location:-ms-input-placeholder,
.query:-ms-input-placeholder {
  color: blue;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

li {
  text-decoration: none;
}

input[type="text"]:focus {
  outline: none;
  color: blue;
}

.style-4 input[type="text"] {
  border: none;
  border-bottom: solid 2px #fff;
  transition: border 0.3s;
  color: blue;
}

.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 2px blue;
  text-decoration: none;
  color: blue;
}

@media (max-width: 768px) {
  .box {
    width: 45%;
  }

  .box-container {
    justify-content: space-between;
  }

  input[type="text"] {
    width: 35%;
  }

  .fa-search,
  .fa-bars {
    width: 15%;
  }

  .style-4 input[type="text"] {

  }

  .search-parameters {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .box {
    width: 100%;
  }

  .box-container {
    justify-content: center;
  }
}
