/* line 1, ../sass/main.scss */
body {
  width: 100%;
  margin: auto;
  background-color: white;
}

/* line 6, ../sass/main.scss */
.landing {
  background-color: #ccc;
  height: 100vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 18, ../sass/main.scss */
.landing h1 {
  font: 700 45px 'Oswald';
}

/* line 33, ../sass/main.scss */
.fa-search {
  color: #fff;
  cursor: pointer;
}

/* line 37, ../sass/main.scss */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 3px solid blue;
}

/* line 44, ../sass/main.scss */
.heading {
  font: 700 20px 'Oswald';
}

/* line 47, ../sass/main.scss */
.error {
  font: 700 20px 'Oswald';
  text-align: center;
}

/* line 51, ../sass/main.scss */
.container {
  width: 90%;
  margin: auto;
}

/* line 55, ../sass/main.scss */
.box {
  width: 30%;
  background-color: #fff;
  margin: 12px 0;
  border: 1px solid #333;
  align-self: flex-start;
}
/* line 61, ../sass/main.scss */
.box img {
  width: 100%;
}

/* line 65, ../sass/main.scss */
.box-bottom {
  padding: 25px;
  font: normal 13px 'pt mono';
}

/* line 69, ../sass/main.scss */
.box-map {
  height: 50px;
  background-color: blue;
  color: #fff;
  font: 700 15px 'Oswald';
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
/* line 79, ../sass/main.scss */
.box-map:hover {
  background-color: #0044FF;
}
/* line 82, ../sass/main.scss */
.box-map i {
  padding-right: 25px;
}

/* line 87, ../sass/main.scss */
.box-bottom-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* line 95, ../sass/main.scss */
.box-container {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/* line 103, ../sass/main.scss */
.box-bottom-right i {
  color: #ccc;
}
/* line 105, ../sass/main.scss */
.box-bottom-right i:hover {
  color: blue;
}

/* line 109, ../sass/main.scss */
.box-bottom-right {
  text-align: right;
}

/* line 112, ../sass/main.scss */
.box-bottom-right a {
  text-align: right;
  color: #ccc;
}
/* line 115, ../sass/main.scss */
.box-bottom-right a:hover {
  color: blue;
}

/* line 119, ../sass/main.scss */
.image {
  position: relative;
}

/* line 122, ../sass/main.scss */
.text-overlay {
  color: black;
  padding-left: 10px;
}

/* line 126, ../sass/main.scss */
.caption-box {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  font: 700 20px 'Oswald';
}

/* line 134, ../sass/main.scss */
.caption-box-no-image {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  font: 700 20px 'Oswald';
}

/* line 140, ../sass/main.scss */
.landing-header {
  display: block;
}

/* line 143, ../sass/main.scss */
input[type="text"] {
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  width: 200px;
  margin: 25px;
  background-color: #f7f7f7;
  color: #fff;
}

/* line 156, ../sass/main.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 159, ../sass/main.scss */
:-moz-placeholder {
  color: #999;
}

/* line 162, ../sass/main.scss */
::-moz-placeholder {
  color: #999;
}

/* line 165, ../sass/main.scss */
:-ms-input-placeholder {
  color: #999;
}

/* Different color for some fields */
/* line 170, ../sass/main.scss */
.location::-webkit-input-placeholder,
.query::-webkit-input-placeholder {
  color: blue;
}

/* line 174, ../sass/main.scss */
.location:-moz-placeholder,
.query:-moz-placeholder {
  color: blue;
}

/* line 178, ../sass/main.scss */
.location::-moz-placeholder,
.query::-moz-placeholder {
  color: blue;
}

/* line 182, ../sass/main.scss */
.location:-ms-input-placeholder,
.query:-ms-input-placeholder {
  color: blue;
}

/* line 186, ../sass/main.scss */
li {
  text-decoration: none;
}

/* line 189, ../sass/main.scss */
input[type="text"]:focus {
  outline: none;
  color: blue;
}

/* line 193, ../sass/main.scss */
.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #999;
  transition: border 0.3s;
  color: blue;
}

/* line 200, ../sass/main.scss */
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 2px blue;
  text-decoration: none;
  color: blue;
}

@media (max-width: 768px) {
  /* line 207, ../sass/main.scss */
  .box {
    width: 45%;
  }

  /* line 210, ../sass/main.scss */
  .box-container {
    justify-content: space-between;
  }

  /* line 213, ../sass/main.scss */
  input[type="text"] {
    width: 125px;
    margin: 10px;
  }

  /* line 217, ../sass/main.scss */
  .style-4 input[type="text"] {
    padding: 5px;
  }

  /* line 220, ../sass/main.scss */
  .search-parameters {
    text-align: center;
  }
}
@media (max-width: 550px) {
  /* line 225, ../sass/main.scss */
  .box {
    width: 100%;
  }

  /* line 228, ../sass/main.scss */
  .box-container {
    justify-content: center;
  }
}
