/* line 1, ../sass/main.scss */
body {
  width: 100%;
  margin: auto;
  background-color: white;
}

/* line 6, ../sass/main.scss */
.landing {
  background-color: #dad8d8;
  height: 100vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 20, ../sass/main.scss */
.landing h1 {
  font: 700 45px 'Oswald';
}

/* line 34, ../sass/main.scss */
.fa-search {
  color: blue;
  cursor: pointer;
}

/* line 39, ../sass/main.scss */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 2px solid blue;
}

/* line 46, ../sass/main.scss */
.heading {
  font: 700 20px 'Oswald';
}

/* line 49, ../sass/main.scss */
.error {
  font: 700 20px 'Oswald';
  text-align: center;
}

/* line 53, ../sass/main.scss */
.container {
  width: 90%;
  margin: auto;
}

/* line 57, ../sass/main.scss */
.box {
  width: 30%;
  background-color: #fff;
  margin: 12px 0;
  border: 1px solid #333;
}
/* line 62, ../sass/main.scss */
.box img {
  width: 100%;
}

/* line 66, ../sass/main.scss */
.box-bottom {
  padding: 25px;
  font: normal 13px 'pt mono';
}

/* line 70, ../sass/main.scss */
.box-bottom-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* line 78, ../sass/main.scss */
.box-container {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/* line 86, ../sass/main.scss */
.box-bottom-right i {
  color: #ccc;
}
/* line 88, ../sass/main.scss */
.box-bottom-right i:hover {
  color: blue;
}

/* line 92, ../sass/main.scss */
.box-bottom-right {
  text-align: right;
}

/* line 95, ../sass/main.scss */
.box-bottom-right a {
  text-align: right;
  color: #ccc;
}
/* line 98, ../sass/main.scss */
.box-bottom-right a:hover {
  color: blue;
}

/* line 102, ../sass/main.scss */
.image {
  position: relative;
}

/* line 105, ../sass/main.scss */
.text-overlay {
  color: black;
  padding-left: 10px;
}

/* line 109, ../sass/main.scss */
.caption-box {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  font: 700 20px 'Oswald';
}

/* line 117, ../sass/main.scss */
.caption-box-no-image {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  font: 700 20px 'Oswald';
}

/* line 123, ../sass/main.scss */
.landing-header {
  display: block;
}

/* line 126, ../sass/main.scss */
input[type="text"] {
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  width: 200px;
  margin: 25px;
  background-color: transparent;
  color: #fff;
}

/* line 140, ../sass/main.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 143, ../sass/main.scss */
:-moz-placeholder {
  color: #999;
}

/* line 146, ../sass/main.scss */
::-moz-placeholder {
  color: #999;
}

/* line 149, ../sass/main.scss */
:-ms-input-placeholder {
  color: #999;
}

/* Different color for some fields */
/* line 155, ../sass/main.scss */
.location::-webkit-input-placeholder,
.query::-webkit-input-placeholder {
  color: #fff;
}

/* line 161, ../sass/main.scss */
.location:-moz-placeholder,
.query:-moz-placeholder {
  color: #fff;
}

/* line 167, ../sass/main.scss */
.location::-moz-placeholder,
.query::-moz-placeholder {
  color: #fff;
}

/* line 173, ../sass/main.scss */
.location:-ms-input-placeholder,
.query:-ms-input-placeholder {
  color: #fff;
}

/* line 179, ../sass/main.scss */
li {
  text-decoration: none;
}

/* line 182, ../sass/main.scss */
input[type="text"]:focus {
  outline: none;
  color: #fff;
}

/* line 186, ../sass/main.scss */
.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px blue;
  transition: border 0.3s;
  color: #fff;
}

/* line 193, ../sass/main.scss */
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 2px #fff;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  /* line 200, ../sass/main.scss */
  .box {
    width: 45%;
  }

  /* line 203, ../sass/main.scss */
  .box-container {
    justify-content: space-between;
  }

  /* line 206, ../sass/main.scss */
  input[type="text"] {
    width: 125px;
    margin: 10px;
  }

  /* line 210, ../sass/main.scss */
  .style-4 input[type="text"] {
    padding: 5px;
  }

  /* line 213, ../sass/main.scss */
  .search-parameters {
    text-align: center;
  }
}
@media (max-width: 550px) {
  /* line 218, ../sass/main.scss */
  .box {
    width: 100%;
  }

  /* line 221, ../sass/main.scss */
  .box-container {
    justify-content: center;
  }
}
